* {
    margin: 0;
    padding: 0;
}

input {
    border: 3px solid #346aff;
    border-radius: 8px;

    padding: 5px 10px;

    font-size: 18px;
}

button {
    border: 2px solid #346aff;
    border-radius: 8px;
}

form {
    margin-left: 10px;
}

ul {
    margin-top: 10px;
}

li { 
    margin-left: 10px;
    font-size: 25px;
    display: flex
}

.btn {
    padding: 5px 15px;

    font-size: 18px;
}

.btn2 {
    padding: 4px;

    color: red;
}